# Workshop Python for DataScience - From zero to hero

### Túlio Vieira de Souza | Data Scientist

### Importar os pacotes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

### Dicionarios

In [87]:
#Criando um dicionário com os dados
dados = {'canal_venda' : ['facebook', 'twitter', 'instagram', 'linkedin'],
        'acessos': [100, 200, 300 ,400],
        'site': ['site1', 'site1', 'site2', 'site2']}

In [88]:
#para printar o dicionáario
dados

{'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site1', 'site2', 'site2']}

In [89]:
#verificando o tipo do dicionario
type(dados)

dict

In [90]:
#Acessando as chaves do meu dicionario
dados.keys()

dict_keys(['canal_venda', 'acessos', 'site'])

In [91]:
#Acessando uma chave especifica
dados['canal_venda']

['facebook', 'twitter', 'instagram', 'linkedin']

In [92]:
#Acessando uma posicao especifica de um dicionario
dados['canal_venda'][2]

'instagram'

In [93]:
#Acessando uma posicao especifica de um dicionario
dados['canal_venda'][2]

'instagram'

In [94]:
#Acessando uma posicao especifica de um dicionario
dados['canal_venda'][:2]

['facebook', 'twitter']

### Listas

In [95]:
#Criando uma lista
lista = [200, 200 , 300 ,800]

In [96]:
#printando a lista
lista

[200, 200, 300, 800]

In [97]:
#Vendo valores especificos
lista[1]

200

In [98]:
#fatia da lista
lista[:3]

[200, 200, 300]

In [99]:
# Adicionando a lista ao dicionario 
dados['lista'] = lista

In [100]:
dados

{'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site1', 'site2', 'site2'],
 'lista': [200, 200, 300, 800]}

### DataFrames

In [101]:
#Criar um data frame a partir de um dict
dataframe = pd.DataFrame(dados)

In [102]:
#acessando o dataframe
dataframe

  canal_venda  acessos   site  lista
0    facebook      100  site1    200
1     twitter      200  site1    200
2   instagram      300  site2    300
3    linkedin      400  site2    800

In [103]:
#printando os primeiros casos do dataframe
dataframe.head(1)

  canal_venda  acessos   site  lista
0    facebook      100  site1    200

In [104]:
#Verificando o indice do dataframe
dataframe.index

RangeIndex(start=0, stop=4, step=1)

In [105]:
#Verificando os tipos dos dados do dataframe
dataframe.dtypes

canal_venda    object
acessos         int64
site           object
lista           int64
dtype: object

In [106]:
#Verificando se existem valores faltantes
dataframe.isna()

   canal_venda  acessos   site  lista
0        False    False  False  False
1        False    False  False  False
2        False    False  False  False
3        False    False  False  False

In [107]:
#printando os nomes das colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'lista'], dtype='object')

In [108]:
#Acessando uma coluna especifica
dataframe['canal_venda']

0     facebook
1      twitter
2    instagram
3     linkedin
Name: canal_venda, dtype: object

In [109]:
# Criando uma nova coluna
dataframe['nova_coluna'] = [1, 2, 3, 4]

In [110]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'lista', 'nova_coluna'], dtype='object')

In [111]:
# Removendo colunas
dataframe.drop(columns = 'nova_coluna', inplace = True)

In [112]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'lista'], dtype='object')

In [113]:
#Acessando valores especificos
dataframe['canal_venda'][2]

'instagram'

In [114]:
#Acessando fatia de coluna especifica
dataframe['canal_venda'][:2]

0    facebook
1     twitter
Name: canal_venda, dtype: object

In [115]:
#Fatiando os dados usando o iloc (linhas | colunas)
dataframe.iloc[:2,1:]

   acessos   site  lista
0      100  site1    200
1      200  site1    200

In [116]:
#Fatiar os dados usando o loc (indice)
dataframe.loc[:3]

  canal_venda  acessos   site  lista
0    facebook      100  site1    200
1     twitter      200  site1    200
2   instagram      300  site2    300
3    linkedin      400  site2    800

In [117]:
# Usando o metodo info()
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
canal_venda    4 non-null object
acessos        4 non-null int64
site           4 non-null object
lista          4 non-null int64
dtypes: int64(2), object(2)
memory usage: 208.0+ bytes

In [122]:
#Pivotando os dados (coluna)
dataframe.pivot(index = 'canal_venda', columns='site', values='acessos')

site         site1  site2
canal_venda
facebook     100.0    NaN
instagram      NaN  300.0
linkedin       NaN  400.0
twitter      200.0    NaN

In [123]:
#Completando os valores faltantes
#Pivotando os dados (coluna)
dataframe.pivot(index = 'canal_venda', columns='site', values='acessos').fillna(0)

site         site1  site2
canal_venda
facebook     100.0    0.0
instagram      0.0  300.0
linkedin       0.0  400.0
twitter      200.0    0.0